.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body {
    display: grid;
    grid-template-columns: 270px auto;

    >div:last-child {
        grid-column: 2;
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: baseline;

    &:empty{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        &::after{
            content: "Пожалуйста, добавьте продукты";
            background-color: rgba($color: #C93E33, $alpha: 0.5) ;
            color: white;
            padding: 20px 50px;
            border-radius: 5px;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        margin: 0;

        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.009em;

        color: #000000;
    }

    .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;

        letter-spacing: 0.009em;

        color: #000000;
        margin: 0;
        margin-top: 40px;

    }

    span{
        color: var(--primary-color);
    }
}