.wrapper {
    display: flex;
    flex-direction: row;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 2px;

    span {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.009em;

        padding: 8px 10px;

        cursor: pointer;
    }

    .input {
        border: none;
        outline: none;
        appearance: none;
        width: 50px;
        text-align: center;

        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        letter-spacing: 0.009em;
    }

    .input::-webkit-outer-spin-button,
    .input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .input {
        -moz-appearance: textfield;
    }

    .plus {
        border-right: 1px solid #E6E6E6;
    }

    .minus {
        border-left: 1px solid #E6E6E6;
    }
}