.category {

    p {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.009em;
    }

    .series {
        color: #B3B3B3;
    }

    span {
        display: inline-block;

        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
        color: white;
        margin-left: 5px;
        padding: 3px 6px;
        border-radius: 50px;
        background-color: var(--primary-color);
    }

}